In [21]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [22]:
%matplotlib inline

In [23]:
plt.rcParams["figure.figsize"] = (10, 5)

In [24]:
saved_style_state = matplotlib.rcParams.copy()

In [25]:
Secondary_completion_rates = pd.read_csv("Secondary completion rates.csv", skiprows=1)
print("done")

done

In [26]:
Secondary_completion_rates.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME   Value  Flag Codes
0      AUT  GRADRATE  UPPSRY      PC         A  2010  84.210         NaN
1      AUT  GRADRATE  UPPSRY      PC         A  2011  83.621         NaN
2      AUT  GRADRATE  UPPSRY      PC         A  2012  84.955         NaN
3      AUT  GRADRATE  UPPSRY      PC         A  2013  83.765         NaN
4      AUT  GRADRATE  UPPSRY      PC         A  2014  83.544         NaN